[submodule "lib/mcp2517_driver"]
	path = lib/mcp2517_driver
	url = https://github.com/GuavTek/MCP2517_driver
[submodule "lib/am_midi2"]
	path = lib/am_midi2
	url = https://github.com/midi2-dev/AM_MIDI2.0Lib
