[submodule "MIDI_driver"]
	path = MIDIBUS_CV16/MIDI_driver
	url = https://github.com/GuavTek/MIDI_driver
[submodule "MCP2517_ATSAMD_driver"]
	path = MIDIBUS_CV16/MCP2517_ATSAMD_driver
	url = https://github.com/GuavTek/MCP2517_ATSAMD_driver
